{% extends 'Base/base.html.twig' %}

{% block navvolumes %}
    <div id="volumes-visual" class="d-flex flex-row flex-nowrap w-100">
    {% for key,info in volumeDescr %}
        {% set path = path('home') ~ '#first-edition-' ~ key %}
        {% for volume in volumes %}
            {% if volume.getId(true) == key %}
                {% set path = path('dynamic', { 'path': volume.dtaDirname }) %}
            {% endif %}
        {% endfor %}
        <div class="volume" style="background-image: url('{{ app.request.basepath }}/media/menu/{{ key }}.jpg');">
            <a href="{{ path }}"><div class="title">
                {{ info.period|replace({'-': '–'}) }}
                <h5>{{ info[app.request.locale] }}</h5>
            </div></a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block maincontainer %}
<main role="main">
{% block body %}

<section>
    <div class="container">
        <div class="row section">
            <div class="col-sm-12 col-md-9 col-lg-6 offset-md-1">
                <h1>
                    German History<br class="d-none d-sm-block" />
                    in Documents and Images
                </h1>
                <p style="margin-bottom: 0">
                    {% if 'de' == app.request.locale %}
                        <i>German History in Documents and Images</i> (GHDI) ist ein Online-Portal von Primärquellenmaterialien, die verschiedene Aspekte der deutschen Geschichte von der Frühen Neuzeit bis zur Gegenwart dokumentieren. Das Projekt besteht aus zehn chronologisch geordneten Bänden, von denen jeder eine breite Auswahl an sorgfältig ausgewählten Text- und Bildquellen und Karten enthält. Wo es möglich war, schließen die Bände zudem auch audiovisuelle Quellen ein. Jeder Band enthält zudem eine Einführung in den jeweiligen Zeitraum sowie weitere Kommentare. Die Website ist komplett zweisprachig (Englisch/Deutsch) konzipiert. Das Projekt ist für ein breites Publikum konzipiert und möchte neue Ansätze in der Forschung, der akademischen Lehre und dem Lernen in den Bereichen der deutschen, europäischen und transnationalen Geschichte fördern.
                    {% else %}
                        <i>German History in Documents and Images</i> (GHDI) is an online collection of primary-source materials documenting various aspects of German history from the Early Modern period to the present. The project consists of ten chronologically ordered volumes, each of which features a large selection of carefully chosen texts and images, as well as maps and audiovisual sources in some cases. Each volume also includes an introduction to the featured period as well as other commentaries. The website is completely bilingual (English/German). Designed to serve broad audiences, GHDI aims to promote new approaches to research, academic teaching, and learning in the fields of German, European, and transnational history.
                    {% endif %}
                </p>
                <div style="text-align: right">
                    <a class="btn btn-primary" href="{{ path('about') }}">{{ 'Read on'|trans }}</a>
                </div>
            </div>
        </div><!-- .row -->
    </div>
</section>

<section class="stripe">
    <div class="container">
    {% if volumes|length > 0 %}
        <div class="row section">
            <div class="col"><h3>{{ 'Volumes'|trans }}</h3></div>
        </div><!-- .row -->
        <div class="row volumes">
        {% if volumes|length <= 2 %}
            {% set numCols = volumes|length %}
        {% else %}
            {% set numCols = (12 / (volumes|length - 2))|round(0, 'floor') %}
        {% endif %}
        {% if numCols < 4 %}{% set numCols = 4 %}{% endif %}
        {% for volume in volumes %}
            {% if volume.id != 'ghdi:volume-6' %}
            <div class="col-sm-{{ numCols}} volume hyphens-auto">
                <a href="{{ path('dynamic', { 'path': volume.dtaDirname }) }}">{{ volume.title }}</a>
                {#{ volume.note }#}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    {% if featured|length > 0 %}
        {% set colspan = 12 // featured|length %}
        <div class="row section">
            <div class="col-sm-3"><h3>{{ 'Sources'|trans }}</h3></div>
            <div class="col-sm-9"></div>
        </div><!-- .row -->
        <div class="row featured">
            {% for key, info in featured %}
            <div class="col-sm-6 col-md-{{ colspan }}">
                <h4>{% if 'audiovisual' != key %}<a href="{{ path('search', { 'filter' : { 'genre' : key } }) }}">{% endif %}{{ info['totalCount'] }} {{ info['label'] }}{% if 'audiovisual' != key %}</a>{% endif %}</h4>
                <div class="genre" style="background-color: white; background-image: url('{{ app.request.basepath }}/media/home/{{ key }}.svg'); background-size: contain; background-origin: content-box; padding: 24px; opacity: 0.3;"></div>
                {% if info['resource'] is defined %}
                    {% set resource = info['resource'] %}
                    {% set volumeDtaDirname = null %}
                    {% for volume in volumes %}
                        {% if volume.getId(true) == resource.volumeIdFromShelfmark%}
                            {% set volumeDtaDirname = volume.dtaDirname %}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('dynamic', { 'path': volumeDtaDirname ~ '/' ~ resource.dtaDirname }) }}">{{ resource.title }}</a>
                {% endif %}
            </div>
            {% endfor %}
        </div><!-- .row -->
    {% endif %}
    </div>
</section>

<section>
    <div class="container">
        <div class="row section">
            <div class="col"><h3>{{ 'Additional Volumes (First Edition)'|trans }}</h3></div>
        </div><!-- .row -->
        <div class="row volumes">
        {% set numCols = 3 %}
        {% set locale = app.request.locale %}
        {% set languageAppend = '&language=english' %}
        {% set volumeIds = volumes|map(volume => "#{volume.getId(true)}") %}
        {% if 'de' == locale %}{% set languageAppend = '&language=german' %}{% endif %}
        {% for id, descr in volumeDescr %}
            {% if id == 'volume-6' or id not in volumeIds %}
            <div class="col-sm-6 col-md-{{ numCols}} volume hyphens-auto">
                <a id="first-edition-{{ id }}" href="https://germanhistorydocs.ghi-dc.org/section.cfm?section_id={{ id|replace({ 'volume-' : '' }) + 6 }}{{ languageAppend }}">{{ descr[locale] }} ({{ descr.period }})</a>
                {#{ volume.note }#}
            </div>
            {% endif %}
        {% endfor %}
        </div>
        </div>
    </div
</section>

{% endblock %}
</main>
{% endblock %}
