{% extends 'Base/base.html.twig' %}

{% block navvolumes %}
    <div id="volumes-visual" class="d-flex flex-row flex-nowrap w-100">
    {% for key,info in volumeDescr %}
        {% set path = '#' %}
        {% for volume in volumes %}
            {% if volume.getId(true) == key %}
                {% set path = path('dynamic', { 'path': volume.dtaDirname }) %}
            {% endif %}
        {% endfor %}
        <div class="volume" style="background-image: url('{{ app.request.basepath }}/media/menu/{{ key }}.jpg');">
            <a href="{{ path }}"><div class="title">
                {{ info.period }}
                <h5>{{ info[app.request.locale] }}</h5>
            </div></a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block maincontainer %}
<main role="main">
{% block body %}

<section>
    <div class="container">
        <div class="row section">
            <div class="col-sm-12 col-md-6 offset-md-1">
                <h1>{{ site_name|trans({}, 'additional') }}</h1>
                <p style="margin-bottom: 0">
                    {% if 'de' == app.request.locale %}
                        <i>German History in Documents and Images</i> ist eine umfassende Sammlung von digitalisierten Quellen zur deutschen Geschichte von der Frühen Neuzeit bis zur Gegenwart.
                    {% else %}
                        German History in Documents and Images is a comprehensive collection of original historical materials documenting German history from the beginning of the early modern period to the present. The project comprises ten volumes, each of which addresses a discrete period in Germany's history.
                    {% endif %}
                </p>
                <div style="text-align: right">
                    <a class="btn btn-primary" href="{{ path('about') }}">{{ 'Read on'|trans }}</a>
                </div>
            </div>
        </div><!-- .row -->
    </div>
</section>

<section class="stripe">
    <div class="container">

    {% if volumes|length > 0 %}
        <div class="row section">
            <div class="col-sm-3"><h3>{{ 'Volumes'|trans }}</h3></div>
            <div class="col-sm-9"></div>
        </div><!-- .row -->
        <div class="row volumes">
        {% set numCols = (12 / volumes|length)|round(0, 'floor') %}
        {% for volume in volumes %}
            <div class="col-sm-{{ numCols}} hyphens-auto">
                <a href="{{ path('dynamic', { 'path': volume.dtaDirname }) }}">{{ volume.title }}</a>
                {#{ volume.note }#}
            </div>
        {% endfor %}
        </div>
    {% endif %}

        <div class="row section">
            <div class="col-sm-3"><h3>{{ 'Sources'|trans }}</h3></div>
            <div class="col-sm-9"></div>
        </div><!-- .row -->
        <div class="row featured">
            <div class="col-sm-3">
                <h4>105 {{ 'Documents'|trans }}</h4>
                {% if featured['document'] is defined %}
                    {% set resource = featured['document'] %}
                    {% set volumeDtaDirname = null %}
                    {% for volume in volumes %}
                        {% if volume.getId(true) == resource.volumeIdFromShelfmark%}
                            {% set volumeDtaDirname = volume.dtaDirname %}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('dynamic', { 'path': volumeDtaDirname ~ '/' ~ resource.dtaDirname }) }}">{{ resource.title }}</a>
                {% endif %}
            </div>
            <div class="col-sm-3">
                <h4>213 {{ 'Images'|trans }}</h4>
                {% if featured['image'] is defined %}
                    {% set resource = featured['image'] %}
                    {% set volumeDtaDirname = null %}
                    {% for volume in volumes %}
                        {% if volume.getId(true) == resource.volumeIdFromShelfmark%}
                            {% set volumeDtaDirname = volume.dtaDirname %}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('dynamic', { 'path': volumeDtaDirname ~ '/' ~ resource.dtaDirname }) }}"><b>{{ resource.title }}</b></a>
                {% endif %}
            </div>
            <div class="col-sm-3">
                <h4>0 {{ 'Audio and Video'|trans }}</h4>
            </div>
            <div class="col-sm-3">
                <h4>4 {{ 'Maps'|trans }}</h4>
                {% if featured['map'] is defined %}
                    {% set resource = featured['map'] %}
                    {% set volumeDtaDirname = null %}
                    {% for volume in volumes %}
                        {% if volume.getId(true) == resource.volumeIdFromShelfmark%}
                            {% set volumeDtaDirname = volume.dtaDirname %}
                        {% endif %}
                    {% endfor %}
                    <a href="{{ path('dynamic', { 'path': volumeDtaDirname ~ '/' ~ resource.dtaDirname }) }}"><b>{{ resource.title }}</b></a>
                {% endif %}
            </div>
        </div><!-- .row -->
    </div>
</section>

{% endblock %}
</main>
{% endblock %}
