<!doctype html>
<html class="no-js" lang="{{ app.request.getLocale() }}{% if 'en' == app.request.getLocale() %}-us{% endif %}"
      prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# place: http://ogp.me/ns/place# books: http://ogp.me/ns/books#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% if pageMeta is defined and pageMeta.title is defined %}{{ pageMeta.title }} | {% endif %}
            {{ site_name|trans({}, 'additional') }}
        </title>

        {# see https://github.com/mnater/Hyphenopoly#usage-browser #}
        <script type="text/javascript">
            var Hyphenopoly = {
                require: {
                    "de": "Silbentrennungsalgorithmus",
                    "en-us": "Supercalifragilisticexpialidocious"
                },
                setup: {
                    selectors: {
                        ".hyphens-auto": {}
                    }
                }
            };
        </script>
        <script src="{{ app.request.basepath }}/vendor/Hyphenopoly-4.6.0/Hyphenopoly_Loader.js" type="text/javascript"></script>

        <script src="{{ app.request.basepath }}/js/jquery-3.4.1.min.js"></script>
        <script src="{{ app.request.basepath }}/js/popper.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ app.request.basepath }}/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>

    <body role="document" class="route-{{ app.request.get('_route') | replace({'_' : '-'}) }}{% if volume is defined %} {{ volume.getId(true) }}{% endif %}{% if document_class is defined %} {{ document_class }}{% endif %}">
        {% block navtop %}
        <nav class="navbar container">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ app.request.basepath }}/img/ghis_logo.png" alt="{{ site_name|trans({}, 'additional') }}" id="logo" />
            </a>
            {{ knp_menu_render('volumes') }}
            <ul id="navbar-about-locale" class="list-inline">
                <li class="list-inline-item{% if 'about' == app.request.attributes.get('_route') %} current{% endif %} dropdown">
                    <a href="{{ path('about') }}" {#class="dropdown-toggle" id="dropdownAboutMenuButton" data-toggle="dropdown"#}>
                        {{ 'The Project'|trans }}
                    </a>
                    {#
                    <div class="dropdown-menu" aria-labelledby="dropdownAboutMenuButton">
                        <a class="dropdown-item" href="{{ path('about') }}">{{ 'About the Project'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('about-working-groups') }}">{{ 'Editorial Working Groups'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('about-team') }}">{{ 'GHI Project Team'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('terms') }}">{{ 'Terms and Conditions'|trans }}</a>
                    </div>
                    #}
                </li>
                {% for locale in locales %}
                <li class="list-inline-item{% if locale == app.request.locale %} current{% endif %}">
                    {% if locale == app.request.locale %}
                        {{ locale }}
                    {% else %}
                        {% set route = 'home' %}
                        {% if app.request.attributes.get('_route') is not empty %}
                            {% set route = app.request.attributes.get('_route') %}
                        {% endif %}
                        {% if route_params_locale_switch is defined and route_params_locale_switch[locale] is defined %}
                            {% set route = 'dynamic' %}
                            {% set route_params = route_params_locale_switch[locale] %}
                        {% else %}
                            {% set route_params = {} %}
                            {% if app.request.attributes.get('_route_params') is not null %}
                                {% set route_params = app.request.attributes.get('_route_params') %}
                            {% endif %}
                            {% set route_params = route_params|merge(app.request.query.all) %}
                        {% endif %}
                        <a href="{{ path(route, route_params|merge({'_locale': locale})) }}">{{ locale }}</a>
                    {% endif %}
                </li>
                {% endfor %}
                <li class="list-inline-item">
                    <a href="{{ path('search') }}"><img src="{{ app.request.basepath }}/img/search.svg" alt="{{ 'Search'|trans }}" height="12" /></a>
                </li>
            </ul>
        </nav>
        {% endblock %}

        {% block maincontainer %}
        <div id="main-wrapper">
            <main role="main" class="container">
            {% block body %}{% endblock %}
            </main>
        </div><!-- #main-wrapper -->
        {% endblock %}

        {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <a href="https://www.ghi-dc.org/" target="_blank">
                            <img class="img-fluid w-100" id="logo-ghi" src="{{ app.request.basepath }}/img/ghi_logo.png" alt="German Historical Institute Washington" />
                        </a>
                    </div>
                    <div class="col-sm-4 offset-sm-2">
                        <a href="https://www.ghi-dc.org/" target="blank">{{ 'German Historical Institute Washington'|trans }}</a><br />
                        {{ 'Sponsored by the Transatlantic Program of the European Recovery Program (German Federal Ministry of Economics and Energy)'|trans }}
                    </div>
                    <div class="col-sm-2 offset-sm-2">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('terms') }}">{{ 'Conditions of Use'|trans }}</a></li>
                            <li><a href="{{ path('terms') }}#contact">{{ 'Contact'|trans }}</a></li>
                            <li><a href="{{ path('terms') }}#imprint">{{ 'Imprint'|trans }}</a></li>
                            <li><a href="{{ path('terms') }}#data-protection">{{ 'Data Protection'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
