<!doctype html>
<html class="no-js" lang="{{ app.request.getLocale() }}"
      prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        {% if pageTitle is defined %}
            {{ pageTitle }} |
        {% endif %}
        {{ site_name|trans({}, 'additional') }}
        </title>

        {% block style %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css">

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">
        <link href="{{ app.request.basepath }}{{ asset('css/print.css') }}" rel="stylesheet">

        <style>
        @media print {
            /* http://drupal.stackexchange.com/a/59908*/
            a[href]:after {
                content: none;
            }

            img {
                max-height: 360;
            }

            .article .dta-figure p.dta-p {
                font-size: 0.8rem;
            }
        }
        </style>
        {% endblock %}

        {% block head %}{% endblock %}
    </head>

    <body role="document" class="route-{{ app.request.get('_route') | replace({'_' : '-'}) }}">
        {% block body %}{% endblock %}
    </body>
</html>
