            <div id="{{ id }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <ol class="carousel-indicators">
                {% for slide in slides %}
                    <li data-bs-target="#{{ id }}" data-bs-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
                {% endfor %}
                </ol>
                <div class="carousel-inner">
                {% for slide in slides %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                        <img class="d-block w-100 carousel-image" src="{{ slide.image.src }}" alt="" />
                        <div class="d-block w-100 carousel-text">{{ slide.text|raw }}</div>
                    </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#{{ id }}" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'Previous'|trans }}</span>
                </a>
                <a class="carousel-control-next" href="#{{ id }}" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'Next'|trans }}</span>
                </a>
                <a class="carousel-control-prev bottom" href="#{{ id }}" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'Previous'|trans }}</span>
                </a>
                <a class="carousel-control-next bottom" href="#{{ id }}" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{ 'Next'|trans }}</span>
                </a>
            </div>