{% extends 'Base/base.html.twig' %}

{% import 'Shared/resource.html.twig' as resource_helper %}

{% block head %}
    <style>
        section.banner {
            background-image: url({{ app.request.basepath }}/media/banner/{{ volume.getId(true) }}.jpg);
        }
    </style>
{% endblock %}

{% block maincontainer %}
<main role="main" class="volume {{ volume.getId(true) }}">
{% block body %}
<section class="top banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ volume.title }}</h1>
                <p>
                    {% for editor in volume.editors %}{% if not loop.first %}, {% endif %}{{ editor.name }}{% endfor %}
                    {% if volume.responsible is not empty %}<br />{% for responsible in volume.responsible %}{% if not loop.first %}, {% endif %}{{ responsible.role }} {% if responsible.persName is defined %}{{ responsible.persName }}{% else %}{{ responsible.name }}{% endif %}{% endfor %}{% endif %}
                </p>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
                    <li>{{ 'Volume'|trans }} ({{ navigation.currentCount + 1 }}/{{ navigation.totalCount }})</li>
                </ul>
            </div>
        </div><!-- .row -->

        {% if introduction is not empty %}
        <div class="row">
            <div class="col col-md-8">
                <h2 style="margin-bottom: 2rem">{{ introduction.title }}</h2>
                {{ introduction.note }}
                <p style="text-align: right"><a class="btn btn-primary" href="{{ path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ introduction.dtaDirname }) }}">{{ 'Read on'|trans }}</a></p>
            </div>
        </div><!-- .row -->
        {% endif %}
        {% if sections is not empty or maps is not empty%}
        <div class="row">
            <ul class="nav nav-tabs" id="contentsTab" role="tablist">
                {% if sections is not empty  %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="contents-tab" data-bs-toggle="tab" data-bs-target="#contents" type="button" role="tab" aria-controls="home" aria-selected="true"><h2>{{ 'Contents'|trans }}</h2></button>
                </li>
                {% endif %}
                {% if maps is not empty  %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contents-tab" data-bs-toggle="tab" data-bs-target="#maps" type="button" role="tab" aria-controls="home" aria-selected="true"><h2>{{ 'Maps'|trans }}</h2></button>
                </li>
            {% endif %}
        </div><!-- .row -->
        <div class="tab-content" id="contentsTabContent">
            {% if sections is not empty  %}
            <div class="tab-pane fade show container-fluid p-0 active" id="contents" role="tabpanel" aria-labelledby="contents-tab">
                <div class="row">
                {% for section in sections %}
                    {% set section_thumbnail = section_thumbnail(section) %}
                    <div class="col-12 col-md-6 section d-flex flex-row">
                        <div class="square"{% if section_thumbnail is not empty %} style="background-image: url('{{ app.request.basepath }}/{{ section_thumbnail }}');"{% endif %}></div>
                        <div class="label">
                            <h4><a href="{{ path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ section.dtaDirname }) }}">{{ section.title }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
                </div><!-- .row -->
            </div>
            {% endif %}
            {% if maps is not empty %}
            <div class="tab-pane fade show container-fluid p-0" id="maps" role="tabpanel" aria-labelledby="maps-tab">
                <div class="row">
                {% for map in maps %}
                    {% set section_thumbnail = '' %}
                    <div class="col-12 col-md-6 section d-flex flex-row">
                        <div class="square"{% if section_thumbnail is not empty %} style="background-image: url('{{ app.request.basepath }}/{{ section_thumbnail }}');"{% endif %}></div>
                        <div class="label">
                            <h4><a href="{{ path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ map.dtaDirname }) }}">{{ map.title }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
                </div><!-- .row -->
            </div>
            {% endif %}
        </div><!-- .tab-content -->
        {% endif %}
    </div>
</section><!-- .section -->
{% endblock %}
</main>
{% endblock %}
