{% extends 'Base/base.html.twig' %}

{% import 'Shared/resource.html.twig' as resource_helper %}

{% block head %}
    {{ resource_helper.volume_background(volume, 'section.banner', true) }}
{% endblock %}

{% block maincontainer %}
<main role="main" class="volume {{ volume.getId(true) }}">
{% block body %}
<section class="top banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper d-flex flex-column">
                    <h1 class="mt-auto">{{ volume.title }}</h1>
                </div>
                <p>
                    {{ resource_helper.volume_responsible(volume) }}
                </p>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
                    <li>{{ 'Volume'|trans }} ({{ navigation.currentCount + 1 }}/{{ navigation.totalCount }})</li>
                </ul>
            </div>
        </div><!-- .row -->

        {% if introduction is not empty %}
        <div class="row">
            <div class="col col-md-8">
                <h2 style="margin-bottom: 2rem">{{ introduction.title }}</h2>
                {{ introduction.note }}
                <p style="text-align: right"><a class="btn btn-primary" href="{{ path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ introduction.dtaDirname }) }}">{{ 'Read on'|trans }}</a></p>
            </div>
        </div><!-- .row -->
        {% endif %}
        {% if sections is not empty or maps is not empty or bibliography is not empty %}
        <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs" id="contentsTab" role="tablist">
                {% if sections is not empty  %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="contents-tab" data-bs-toggle="tab" data-bs-target="#contents" role="tab" aria-controls="contents" aria-selected="true"><h2>{{ 'Contents'|trans }}</h2></a>
                    </li>
                {% endif %}
                {% if maps is not empty  %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="maps-tab" data-bs-toggle="tab" data-bs-target="#maps" role="tab" aria-controls="maps" aria-selected="false"><h2>{{ 'Maps'|trans }}</h2></a>
                    </li>
                {% endif %}
                {% if bibliography is not empty  %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="bibliography-tab" data-bs-toggle="tab" data-bs-target="#bibliography" role="tab" aria-controls="bibliography" aria-selected="false"><h2>{{ 'Bibliography'|trans }}</h2></a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div><!-- .row -->
        <div class="tab-content" id="contentsTabContent">
            {% if sections is not empty  %}
            <div class="tab-pane fade show container-fluid p-0 active" id="contents" role="tabpanel" aria-labelledby="contents-tab">
                <div class="row">
                {% for section in sections %}
                    {% set url = path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ section.dtaDirname }) %}
                    <div class="col-12 col-md-6 section" onclick="location.href='{{ url }}';" style="cursor: pointer;">
                        {% set section_thumbnail = resource_thumbnail(section) %}
                        <div class="thumb"{% if section_thumbnail is not empty %} style="background-image: url('{{ app.request.basepath }}/{{ section_thumbnail }}');"{% endif %}></div>
                        <div class="label">
                            <h4><a href="{{ url }}">{{ section.title }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
                </div><!-- .row -->
            </div>
            {% endif %}
            {% if maps is not empty %}
            <div class="tab-pane fade show container-fluid p-0" id="maps" role="tabpanel" aria-labelledby="maps-tab">
                <div class="row">
                {% for map in maps %}
                    {% set url = path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ map.dtaDirname }) %}
                    <div class="col-12 col-md-6 col-lg-4 section" onclick="location.href='{{ url }}';" style="cursor: pointer;">
                        {% set resource_thumbnail = resource_thumbnail(map) %}
                        <div class="thumb"{% if resource_thumbnail is not empty %} style="background-image: url('{{ app.request.basepath }}/{{ resource_thumbnail }}');"{% endif %}></div>
                        <div class="label">
                            <h4><a href="{{ url }}">{{ map.title }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
                </div><!-- .row -->
            </div>
            {% endif %}
            {% if bibliography is not empty %}
            <div class="tab-pane fade show container-fluid p-0" id="bibliography" role="tabpanel" aria-labelledby="bibliography-tab">
                <div class="row">
                    <div class="col-md-8">
                        {{ bibliography|raw }}
                    </div>
                </div><!-- .row -->
            </div>
            {% endif %}
        </div><!-- .tab-content -->
        {% endif %}
    </div>
</section><!-- .section -->
{% endblock %}
</main>
{% endblock %}
