{% extends 'Base/base.html.twig' %}

{% block maincontainer %}
<main role="main" class="container-fluid">
{% block body %}
<div class="row section color-inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h3>{{ 'The Project'|trans }}</h3></div>
            <div class="col-sm-9">
                <p>
                    {% if 'de' == app.request.locale %}
                    <i>German History Intersections</i> ist ein quellenbasiertes digitales Projekt, das drei große Themenbereiche über den Zeitraum von 1500 bis zur Gegenwart untersucht – Migration, Wissen und Bildung sowie Deutschsein. Indem diese Themen über Jahrhunderte hinweg verfolgt werden, bietet das Projekt eine Alternative zur traditionellen Geschichtsschreibung, die sich auf einzelne historische Perioden konzentriert.
                    {% else %}
                    <i>German History Intersections</i> is a source-based digital project that examines three broad topics – migration, knowledge and education, and Germanness – from 1500 to the present. By charting these topics across centuries, the project offers an alternative to traditional histories that focus on discrete historical periods.
                    {% endif %}
                </p>
                <p><a class="btn btn-primary stretched-link" href="{{ path('about') }}">{{ 'Read on'|trans }}</a></p>
            </div>
        </div><!-- .row -->
    </div>
</div>
{#
<div class="row section" style="padding-bottom: 0">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h3>{{ 'Welcome'|trans }}</h3></div>
            <div class="col-sm-9">
                <p>
                    {% if 'de' == app.request.locale %}
                    Das DHI Washington freut sich, Ihnen diese Vorabversion unseres neuesten digitalen Projekts, <i>German History Intersections</i>, präsentieren zu können. Nach Fertigstellung wird die Website mehr als 600 Quellen enthalten, die zu gleichen Teilen auf die drei Themenmodule verteilt sind. Schauen Sie bitte im Laufe des Herbsts erneut vorbei, um zu sehen, wie sich das Angebot weiterentwickelt.
                    {% else %}
                    The GHI Washington is pleased to offer this limited preview of our newest digital project, <i>German History Intersections</i>. When complete, the site will include more than 600 sources, equally divided between the three modules. To see how our work develops, please check in over the course of the fall.
                    {% endif %}
                </p>
            </div>
        </div><!-- .row -->
    </div>
</div>
#}
{% if volumes|length > 0 %}
<div class="row section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h3>{{ 'The Topics'|trans }}</h3></div>
            <div class="col-sm-9"></div>
        </div><!-- .row -->
    </div>
    <div class="container-fluid">
        <div class="row">
        {% for volume in volumes %}
            <div class="flex-grow-1 volume-teaser" style="background-image: url({{ app.request.basepath }}/volumes/{{ volume.getId(true) }}.jpg)">
                <div class="overlay">
                    <h4><a href="{{ path('dynamic', { 'path': volume.dtaDirname }) }}">{{ volume.title }} {{ octicon("chevron-right", '', 2) }}</a></h4>
                </div>
            </div>
        {% endfor %}
        </div><!-- .row -->
    </div>
    <div class="container">
        <div class="row volumes">
        {% set numCols = (12 / volumes|length)|round(0, 'floor') %}
        {% for volume in volumes %}
            <div class="col-sm-{{ numCols}} hyphens-auto">
                <h5><a href="{{ path('dynamic', { 'path': volume.dtaDirname }) }}">{{ volume.title }}</a></h5>
                {{ volume.note }}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% if focus is not empty %}
    {% set workinggroup = {} %}
    {% for volume in volumes %}
        {% if volume.id == focus.volume.id %}
            {% set workinggroup = workinggroup|merge({'label': volume.title, 'path': volume.getDtaDirname() }) %}
        {% endif %}
    {% endfor %}
<div class="row">
    <div class="container">
        <div class="row focus">
            <div class="col-sm-3">
                <h3>{{ 'Focus'|trans }}</h3>
                <a href="{{ path('dynamic', { 'path': focus.volume.getDtaDirname() ~ '/'~ focus.uid }) }}">
                    <img class="img-responsive" style="position: absolute; z-index: 1; width: 100%; padding-right: 24px;" src="{{ app.request.basepath }}/media/focus/{{ focus.image }}" alt="{{ focus.title[app.request.locale] }}" />
                </a>
            </div>
            <div class="col-sm-9">
                <blockquote class="blockquote">
                    <p>
                        {{ focus.blurb[app.request.locale]|raw }}
                    </p>
                    <p style="font-size: 80%; margin-left: 1.1rem;"><b>{{ focus.editor }}</b>, {{ focus.institution[app.request.locale] }}{% if 'de' == app.request.locale %}, Mitglied der Arbeitsgruppe „<a href="{{ path('dynamic', { 'path': workinggroup.path }) }}">{{ workinggroup.label }}</a>“{% else %}, member of the “<a href="{{ path('dynamic', { 'path': workinggroup.path }) }}">{{ workinggroup.label }}</a>” working group{% endif %}</p>
                    {% if focus.credits is defined and focus.credits[app.request.locale] is defined %}
                    <footer class="blockquote-footer">{{ focus.credits[app.request.locale] }}</footer>
                    {% endif %}
                </blockquote>
            </div>
        </div><!-- .row -->
    </div>
</div><!-- .row -->
{% endif %}

{% endblock %}
</main>
{% endblock %}
