{% extends 'Base/base-printview.html.twig' %}

{#% import 'Base/helper.html.twig' as helper %#}

{% block style %}
    {{ parent() }}

    {# TODO: move to some shared style-sheet #}
    <style>
    @page {
        size: auto;
        /* size: 210mm 297mm;
        */
        margin-header: 10mm;
        margin-top: 22mm;
        margin-left: 24mm;
        margin-right: 24mm;

        /* increased from default by 5mm to fit on letter size */
        margin-bottom: 23mm;
        margin-footer: 15mm;
        odd-header-name: html_header;
        even-header-name: html_header;
        odd-footer-name: html_footer;
        even-footer-name: html_footer;
    }

    #header-wrapper {
        border-bottom: 1px solid black;
    }

    #logo {
        width: 100%;
        text-align: right;
        margin-bottom: 8px;
    }

    #authors {
        /* display: none; */
    }

    /* reset to bootstrap initials */
    .source-description {
        /* font-size: 14px;
        line-height: 1.42857; */
    }

    {% if 'introduction' == resource.genre %}
    /* omit Source/Quelle heading */
    .source-head {
        display: none;
    }
    {% endif %}

    /*
    h2 + br {
        display: initial;
        content: "Read this: ";
        border-bottom: 1px solid red;
    }
    */

    body {
        font-family: pdffont; /* set this in services.yaml */
    }

    body .combining-e {
        font-family: pdffont !important;
        font-size: 100% !important;
    }

    a {
        text-decoration: none;
    }

    .source-description, .article .dta-p, .article div.dta-bibl {
        font-size: 14px;
    }

    .article > div.dta-endnote {
        margin-top: 0;
    }

    header {
        color: inherit;
        background-color: inherit;
        margin-top: 0;
        margin-bottom: 36px;
    }

    header h1 {
        margin-top: 0;
        padding-top: 0;
    }

    h1#title {
        margin-top: 4px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 24px;
        font-weight: bold;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    h2 {
        font-weight: bold;
        font-size: 20px;
    }

    h3 {
        font-weight: bold;
        font-size: 16px;
    }

    .author {
        text-align: right;
        color: inherit;
        margin-bottom: 4px;
    }

    .source-description, .source-description-head, h3 {
        color: #6E6E6E;
    }

    .source-description-head {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block body %}
    <htmlpageheader name="header" style="display:none">
        <div id="header-wrapper">
            <div id="author-line">
            {% if authors is defined and authors is not empty %}
                {% for author in authors %}
                    {{ author.text }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}&nbsp;
            {% endif %}
            </div>
        </div>
    </htmlpageheader>
    <htmlpageheader name="headerfirst" style="display:none">
        <div id="logo"><img src="var:logo_top" style="height: 2em" /></div>
    </htmlpageheader>

    <htmlpagefooter name="footer" style="display:none">
        <!-- currently no page-numbers, since these are manually placed
        <div style="text-align: right">{PAGENO}</div>
        -->
    </htmlpagefooter>

    <sethtmlpageheader name="headerfirst" value="on" show-this-page="1" />
    <sethtmlpagefooter name="_blank" value="on" show-this-page="1" />

    <header>
        <!--
        <h1 id="site-name">
            {{ site_name|trans({}, 'additional') }}
        </h1>
        -->
    </header>

    <article>
        {{ parts.body|raw }}
    </article>

    <div class="appendix">
        {#{ helper.article_authors(authors) }}

        {{ helper.article_citation(resource, meta, authors, name) }}

        {{ helper.article_license(license) }#}
    </div>
{% endblock %}
