{% extends 'Base/base-printview.html.twig' %}

{% import 'Shared/resource.html.twig' as resource_helper %}

{% block style %}
    {{ parent() }}

    <style>
    {% if 'introduction' == resource.genre %}
    /* omit Source/Quelle heading */
    .source-head {
        display: none;
    }
    {% endif %}
    </style>
{% endblock %}

{% block body %}
    <htmlpageheader name="header" style="display:none">
        <div id="header-wrapper">
            <div id="author-line">
            {% if authors is defined and authors is not empty %}
                {% for author in authors %}
                    {{ author.text }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}&nbsp;
            {% endif %}
            </div>
        </div>
    </htmlpageheader>
    <htmlpageheader name="headerfirst" style="display:none">
        <div id="logo"><img src="var:logo_top" style="height: 2em" /></div>
    </htmlpageheader>

    <htmlpagefooter name="footer" style="display:none">
        <!-- currently no page-numbers, since these are manually placed
        <div style="text-align: right">{PAGENO}</div>
        -->
    </htmlpagefooter>

    <sethtmlpageheader name="headerfirst" value="on" show-this-page="1" />
    <sethtmlpagefooter name="_blank" value="on" show-this-page="1" />

    <header>
        <!--
        <h1 id="site-name">
            {{ site_name|trans({}, 'additional') }}
        </h1>
        -->
    </header>

    <article>
        {{ parts.body|raw }}
        <div class="source-citation">
            {{ 'Recommended Citation'|trans }}: {{ resource_helper.citation(resource, volume) }}

            {#{ resource_helper.article_license(license) }#}
        </div>
    </article>
{% endblock %}
