{% macro breadcrumb(resource, navigation, prepend_home = false) %}
    {% set volume = navigation.root %}
    <div class="d-flex justify-content-between">
        <ul class="breadcrumb p-2">
            {% if prepend_home %}
            <li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
            {% endif %}
            <li>
                <a href="{{ path('dynamic', { 'path': volume.dtaDirname }) }}">{{ volume.title }}</a>
            </li>
            {% if navigation.parent is not null and navigation.parent.id != navigation.root.id %}
            <li>
                <a href="{{ path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ navigation.parent.dtaDirname }) }}">{{ navigation.parent.title }}</a>
            </li>
            {% endif %}
            <li>
            {% if 'introduction' == resource.genre %}
                {{ 'Introduction'|trans }}
            {% else %}
                {% if 'map' == resource.genre %}
                    {{ 'Map'|trans }}
                {% else %}
                    {{ 'Source'|trans }}
                {% endif %}
                ({{ navigation.currentCount + 1 }}/{{ navigation.totalCount }})
            {% endif %}
            </li>
        </ul>
        <div class="p-2"><a class="print-view" href="{{ path('dynamic', { 'path': volume.dtaDirname ~ '/' ~ resource.dtaDirname }) }}.pdf">{{ 'Print View'|trans }}</a></div>
    </div>
{% endmacro %}

{% macro meta_tags(metaNameValues) %}
    {% for meta in metaNameValues %}
        {% set parts = meta|split(':', 2) %}
        <meta name="{{ parts[0] }}"{% if parts|length > 1 %} value="{{ parts[1] }}"{% endif %} />
    {% endfor %}
{% endmacro %}

{% macro citation_link(resource, volume) %}
    {%- apply spaceless %}
        {% if resource.doi is not empty and not ('10.5072' in resource.doi) -%}
            {% set url = 'https://dx.doi.org/' ~ resource.doi %}
        {% else %}
            {% set url = url('dynamic', { 'path' : volume.dtaDirname ~ '/' ~ resource.id }) %}
        {% endif %}
        <a href="{{ url }}">{{ url }}</a>
    {% endapply -%}
{% endmacro %}

{% macro citation(resource, volume) %}
    {% import _self as resource_helper %}
    {{ resource.title|markCombining }},
    {{ 'published in:'|trans }} {{ site_name|trans({}, 'additional') }},
    &lt;{{- resource_helper.citation_link(resource, volume) -}}&gt;
    [{{ 'now'|date('F d, Y'|trans) }}].
{% endmacro %}

{% macro volume_background(volume, css_selector, use_gradient = false) %}
    <style>
        {{ css_selector }} {
            background-image: {% if use_gradient %}linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)), {% endif %}url({{ app.request.basepath }}/media/banner/{{ volume.getId(true) }}.jpg);
        }
    </style>
{% endmacro %}
